<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../../components/header.ejs') %>
    <% if(successUpdateUser) { %> 
      <p><%= successUpdateUser %></p>
    <% } %>
    <% const zipcode = (detailsUser.address.zipcode).length < 5 ? `0${detailsUser.address.zipcode}` : detailsUser.address.zipcode %>
    <h1>Mise à jour d'un utilisateur</h1>
    <form action="/users/<%= detailsUser._id %>/update?_method=PUT" method="POST">
        <div>
           <label for="lastname">Nom</label>
           <input type="text" id="lastname" name="lastname" value="<%= detailsUser ? detailsUser.lastname : '' %>"> 
        </div>
        <div>
            <label for="firstname">Prénom</label>
            <input type="text" id="firstname" name="firstname" value="<%= detailsUser ? detailsUser.firstname : '' %>"> 
         </div>
         <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" value="<%= detailsUser ? detailsUser.email : '' %>"> 
         </div>
         <div>
            <label for="street">N° et Nom de voie</label>
            <input type="text" id="street" name="street" value="<%= detailsUser ? detailsUser.address.street : '' %>"> 
         </div>
         <div>
            <label for="zipcode">Code postal</label>
            <input type="text" id="zipcode" name="zipcode" minlength="5" maxlength="5" value="<%= detailsUser ? zipcode : '' %>"> 
         </div>
         <div>
            <label for="city">Ville</label>
            <input type="text" id="city" name="city" value="<%= detailsUser ? detailsUser.address.city : '' %>"> 
         </div>
         <button>Modifier</button>
    </form>
</body>
</html>